CompileFlags:
    Add:
        - -m32
        - -I/mnt/c/users/blanket/desktop/c++/kernel
        - -I/mnt/c/users/blanket/desktop/c++/kernel/include
        - -ffreestanding
        - -fno-stack-protector
        - -fno-exceptions
        - -fno-rtti
        - -std=c++20
        - -Wall
        - -Wextra
        - -Wno-interrupt-service-routine
        - -D__KERNEL__
        - -DSTBI_NO_STDIO
        - -DSTB_SPRINTF_IMPLEMENTATION
        - -DSTB_SPRINTF_NOFLOAT
        - -Wno-register