CompileFlags:
    Add:
        - -m32
        - -I/mnt/c/Users/Dell/Desktop/cpp/kernel/
        - -ffreestanding
        - -fno-stack-protector
        - -fno-exceptions
        - -fno-rtti
        - -std=c++20
        - -Wall
        - -Wextra
        - -Wno-interrupt-service-routine
        - -D__KERNEL__